*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.dex
*.class
*.log
/gen
/generated
/app/build
*.jar
*.aar
/gradle/wrapper/gradle-wrapper.jar
gradle/gradle-daemon-jvm.properties
*.pro
TodoList.md
output.md
.idea/gradle.xml
.idea/misc.xml
.idea/deviceManager.xml
.idea/*
/.idea/*
next.md
.vscode/*
question.md
aboutImg.md
aboutLandscapeMode.md
HWRequirements.md
aboutAlSearch.md
aboutGoService.md
aboutGoInterfaces.md